APP_NAME="Newslensbd"
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost/NewsLens/public

DB_HOST=127.0.0.1
DB_PORT=3307
DB_NAME=newslensbd
DB_USER=root
DB_PASS=

ADMIN_PATH=lens-desk
SESSION_LIFETIME=7200
CSRF_EXPIRY=3600

CACHE_DRIVER=file
UPLOAD_MAX_SIZE=5242880
